# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [33]:
import pandas as pd

### Step 2. Create a data dictionary

In [34]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie','Pickachu'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod','Richu'],
            "type": ['grass', 'fire', 'water', 'bug','Electric'],
            "hp": [45, 39, 44, 45,50],
            "pokedex": ['yes', 'no','yes','no','yes']                        
            }

### Step 3. Assign it to a variable called

In [35]:
pokemon = pd.DataFrame(raw_data)
pokemon.head()

    evolution  hp        name pokedex      type
0     Ivysaur  45   Bulbasaur     yes     grass
1  Charmeleon  39  Charmander      no      fire
2   Wartortle  44    Squirtle     yes     water
3     Metapod  45    Caterpie      no       bug
4       Richu  50    Pickachu     yes  Electric

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [36]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution','pokedex']]
pokemon

         name      type  hp   evolution pokedex
0   Bulbasaur     grass  45     Ivysaur     yes
1  Charmander      fire  39  Charmeleon      no
2    Squirtle     water  44   Wartortle     yes
3    Caterpie       bug  45     Metapod      no
4    Pickachu  Electric  50       Richu     yes

### Step 5. Add another column called place, and insert what you have in mind.

In [37]:
pokemon['place'] = ['park','street','lake','forest','Lab']
pokemon

         name      type  hp   evolution pokedex   place
0   Bulbasaur     grass  45     Ivysaur     yes    park
1  Charmander      fire  39  Charmeleon      no  street
2    Squirtle     water  44   Wartortle     yes    lake
3    Caterpie       bug  45     Metapod      no  forest
4    Pickachu  Electric  50       Richu     yes     Lab

### Step 6. Present the type of each column

In [38]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.

Print the List of pokemon which are present in the Pokedex

In [39]:
pokemon[pokemon.pokedex=="yes"]

        name      type  hp  evolution pokedex place
0  Bulbasaur     grass  45    Ivysaur     yes  park
2   Squirtle     water  44  Wartortle     yes  lake
4   Pickachu  Electric  50      Richu     yes   Lab

Sort all the Pokemon with decreasing hp

In [45]:
pokemon.sort_values(by='hp',ascending=False)

         name      type  hp   evolution pokedex   place
4    Pickachu  Electric  50       Richu     yes     Lab
0   Bulbasaur     grass  45     Ivysaur     yes    park
3    Caterpie       bug  45     Metapod      no  forest
2    Squirtle     water  44   Wartortle     yes    lake
1  Charmander      fire  39  Charmeleon      no  street